*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: white;
    text-decoration: none;
}
.page{
    background-image: url(../images/Sikkim-by-Sangay-Lama.jpeg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    object-position: right;
    background-size: cover;
    position: relative;
    text-align: left;
}
.cont{
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width:420px;
    height: 650px;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255 , 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 5px;
}
.fortry{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    color: black;
    font-size: 15px;
}
.fortry:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}
.fortry:active{
    background-color: rgb(222, 221, 221); 
}
.box{
    width: 100%;
}
.forform{
    width: 320px;
    height: 500px;
}
.input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    background:transparent;
    height: 100%;
    border-radius: 50px;
    border: 2px solid rgba(255 , 255, 255, .2);
}

.forhead{
    font-size: 30px;
    margin-top: 15px;
}
.forlabel{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
color: black;
}